@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(celsius-convert.jpg);
    background-size: cover;
  }
  html{
    scroll-behavior: smooth;
  }
  .container {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 60%);
    background-image: url(celsius-convert.jpg);
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  .input-container {
    max-width:500px;
    display:flex;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 2px solid ;
    border-radius: 5px 0 0 5px;
    margin-left: 140px;
    margin-right:20px;

  }
  
  select {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #f9f9f9;
  }
  
  .convert-container {
    display: flex;
    margin-bottom: 20px;
    margin-left: 150px;
  }
  #unitFrom{
    padding:5px;
    margin-right: 20px;
  }
  #unitTo{
    padding:5px;
    margin-left:10px;
  }
  .text{
    margin-left:1px;
    margin-right:10px;
    font-weight: 600;
  }
  
  button {
    width:40%;
    padding: 10px 20px;
    margin-left: 190px;
    margin-right:250px;
    background-color: #007bff;
    color:yellow;
    border-color: black;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
  }
  
  button:hover {
    background-color: blueviolet;
  }
  
  #resultContainer {
    text-align: center;
    border-style: solid;
    height: 70px;
    margin: 20px 140px 5px 160px;
  }
  
  #result {
    font-size: 24px;
    color: white;
    margin-top:15px;
    font-family: 'Poppsins',sans-serif;
  }
  footer{
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 14px;
    font-weight: 550;
    color: var(--darkColor);
    text-align: center;
    padding: 15px 0px;
  }
  
  /* footer link */
  footer a{
    text-decoration: none;
    color: beige;
  }
  